<div class="pull-right">
  <%= link_to("发表", new_post_path, class: "btn btn-lg btn-primary")%>
</div>

<div class="container">
<% @posts.each do |post| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= post.content %>
    </div>
    <% if !current_user.is_collect_of?(post) %>
      <%= link_to("收藏", collect_post_path(post), method: :post, class: "btn btn-sm") %>
    <% else %>
      <%= link_to("取消收藏", uncollect_post_path(post), method: :post, class: "btn btn-sm") %>
    <% end %>
  </div>

<% end %>
</div>
