/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";


//搜索框

.input-group{
  position: relative;
  display: table;
  border-collapse: separate;
  width: 280px;
  margin-top: 12px;
}

//个人中心页面
.nav-pills1{
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.3);
  height: 150px;
}
.panel-heading {
    padding: 30px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 2.5em;
}
.panel{
  margin-top: 20px;
}

a.user-set {
    font-size: 1.3em;
    text-decoration: none;
    color: #333;
}

.user-default{
  width: 700px;
}

.user-photo{
  padding-left: 390px;
}

.user-center-1{
  padding-left: 470px;
}

//导航栏
.nav > li > a{
  padding: 20px 50px;
}

.username{
  margin-top: 50px;
}
